<div class="ui menu">
    <div class="ui dropdown item">
        <i class="volume control phone icon"></i>
        Discord
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><i class="line chart icon"></i>Stats</a>
            <a class="item"><i class="settings icon"></i>Administration</a>
        </div>
    </div>
    <div class="ui dropdown item">
        <i class="game icon"></i>
        Games
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><i class="empire icon"></i>Force and Destiny</a>
            <a class="item"><i class="rebel icon"></i>Armada</a>
            <a class="item"><i class="xing icon"></i>X-Wing</a>
        </div>
    </div>
</div>