{% extends "base.html" %}

{% block body %}
<div class="ui grid">
    <div class="centered row">
        <div class="five wide column">
            <div class="ui icon warning message">
                <i class="exclamation triangle icon"></i>
                <div class="content">
                    <div class="header">
                        Work in Progress!
                    </div>
                    <p>This page has planned content, but it is not yet ready.<br>Check back later!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
