{% extends "base.html" %}
{% block body %}
<div class="ui grid">
    <div class="row">
        <div class="one wide column"></div>
        <div class="four wide column">
            <div>
                <div class="ui fluid labeled input">
                    <div class="ui label">
                        Cap at
                    </div>
                    <input type="number" min="0" id="max_count" value="5">
                    <div class="ui label">
                        slots above module count
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="five wide column" id="module_search">
            <div class="ui labeled input my_select">
                <div class="ui dropdown label">
                    <div class="text module_count">1</div>
                    <i class="dropdown icon"></i>
                    <div class="menu count_select">
                        <div class="item">1</div>
                        <div class="item">2</div>
                        <div class="item">3</div>
                        <div class="item">4</div>
                        <div class="item">5</div>
                        <div class="item">6</div>
                        <div class="item">7</div>
                        <div class="item">8</div>
                    </div>
                </div>
                <div>
                    <select name="pilots" class="ui search dropdown module_select">
                        <option value="">Planesssssssssssssssssssssssssssss</option>
                        {% for module in modules %}
                            <option value="{{ module[0] }}">{{ module[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="circular ui icon button add_module_select">
                    <i class="icon plus"></i>
                </div>
            </div>
        </div>
        <div class="two wide column">
            <button class="ui positive basic button" id="pilot_search">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div id="filter_results"></div>
        </div>
    </div>
</div>
<script>
    function set_pilots(group) {
        $('#pilot_parent_p_grouping_leetsaber').css('display', 'none');
        $('#pilot_parent_' + group).css('display', 'inline');
    };

    function set_filter_response(body) {
        console.log("success :)")
        $('#filter_results').html(body)
    };
    $(function () {
        $('body').on('click', '.add_module_select', function () {
            // add the new filter content
            document.getElementById('module_search').innerHTML += `
            <div class="ui labeled input my_select">
                <div class="ui dropdown label">
                    <div class="text module_count">1</div>
                    <i class="dropdown icon"></i>
                    <div class="menu count_select">
                        <div class="item">1</div>
                        <div class="item">2</div>
                        <div class="item">3</div>
                        <div class="item">4</div>
                        <div class="item">5</div>
                        <div class="item">6</div>
                        <div class="item">7</div>
                        <div class="item">8</div>
                    </div>
                </div>
                <div>
                    <select name="pilots" class="ui search dropdown module_select">
                        <option value="">Planesssssssssssssssssssssssssssss</option>
                        {% for module in modules %}
                            <option value="{{ module[0] }}">{{ module[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="circular ui icon button add_module_select">
                    <i class="icon plus"></i>
                </div>
            </div>
            `;

            // initialize the dropdown for the new filter content
            $('.dropdown').dropdown();

            // update the previous + sign to be a - sign instead
            let button_to_remove = $('.add_module_select')[0];
            button_to_remove.innerHTML = '<i class="icon minus"></i>';
            $(button_to_remove).removeClass('add_module_select').addClass('remove_module_select');
        });

        $('body').on('click', '.remove_module_select', function () {
            $(this).parent().remove()
        });

        $('#pilot_search').click(function() {
            var counts = [];
            var modules = [];
            var cap = $('#max_count').val();

            $(".module_count").map(function() {
                counts.push($(this).text());
            }).get();
            console.log(counts);

            $('.module_select > div .selected').map(function () {
                modules.push($(this).attr('data-value'));
            }).get();
            console.log(modules)

            $.ajax({
                url: "{{ url_for('dcs.list_missions') }}",
                type: "POST",
                data: JSON.stringify({
                    'modules': modules,
                    'counts': counts,
                    'cap': cap,
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    $('#filter_results').html(result['status'])
                }
            });
        });
    });
</script>
{% endblock %}
