{% extends "base.html" %}

{% block body %}
<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
<div id="steps">
    <div class="ui ordered steps">
        <div class="active step">
            <div class="content">
                <div class="title">Shipping</div>
                <div class="description">Choose your shipping options</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Billing</div>
                <div class="description">Enter billing information</div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Confirm Order</div>
                <div class="description">Verify order details</div>
            </div>
        </div>
    </div>
</div>
<div id="fileuploader">Upload</div>
<script>
    $(document).ready(function()
    {
        $("#fileuploader").uploadFile({
            url:"{{ url_for('dcs.upload') }}",
            fileName:"controls",
        });
    });
</script>
{% endblock %}
